/* ResultMessage.css */
.ResultMessage {
  font-family: Arial, sans-serif;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.congrats {
  font-weight: bold;
}

.ResultMessage p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.ResultMessage ul {
  list-style-type: disc;
  margin-left: 20px;
}

.ResultMessage li {
  margin-bottom: 5px;
  line-height: 1.5;
}

.ResultMessage a {
  color: blue;
  text-decoration: underline;
}

.ResultMessage a:hover {
  text-decoration: none;
}

.btn-result,
.btn-result:link,
.btn-result:active {
  text-decoration: none;
  display: block;
  margin-top: 1.6rem;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff !important;
  background-color: #8555d7;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.3s ease;
  animation: pulse 1.5s linear infinite;
}

.btn-result:hover {
  transform: scale(1.05);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
